{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui attached segment">
        <h1>{{ article.title }}</h1>
        <p>{{ article.body }}</p>
    </div>
    <div class="ui bottom attached button" tabindex="0">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="flag" id="flag" value="{%if article.flag_use %} true {% else %} false {% endif %}">
            <input class="ui {%if article.flag_use %} positive button {% else %} button {% endif %}" id="use" type="submit" value="{%if article.flag_use %} 已采用 {% else %} 采用 {% endif %}">
        </form>
    </div>
    <script>
        $($("#use").click(function() {
            var b = $("#use")[0];
            var f = $("#flag")[0];
            if (f.value.includes('false')) {
                b.value = "已采用";
                b.className = "ui positive button";
                f.value = "true";
            }
            else {
                b.value = "采用";
                b.className = "ui button";
                f.value = "false";
            }
        })
        )
    </script>
{% endblock %}
